html {
    box-sizing: border-box;

}

body {
    width: 100vw;
    font-family: "Darker Grotesque", sans-serif;
    background-color: oldlace;


}

main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: oldlace;
    box-sizing: border-box;
    text-align: center;

    a {
        text-decoration: underline;
        color: inherit;
    }
    .thetoss {
        margin: 0 auto;
        width: 300px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: papayawhip;
        border: 2px solid black;
        @media only screen and (max-width: 700px) {
            width: 100%;
            height: 100vh;
            box-sizing: border-box;
        }
        h2 {
            color: #181818;
        }
        a {
            img {
                height: 200px; 
                width: auto;
            }
        }
    }
    h2 {
        margin: 0;
        padding: 10px;
        text-align: center;
        color: #252525;

    }
    .game-container {
        background-color: papayawhip;
        margin: 0 auto;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid #252525;
        padding-top: 15px;
        padding-bottom: 15px;
        @media only screen and (max-width: 700px) {
            width: 100vw;
            border: none;
            margin: 2px;
        }
        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 40px; 
            width: 500px;
            padding: 5px;
            border: 0.5px solid #505050;
            margin: 2px;
            @media only screen and (max-width: 700px) {
                width: 100%;
                margin-left: 2px;
                margin-right: 2px;
            }
            div {
                text-align: center;
                height: 100%;
                width: 15%;
                font-size: 1.5em;
                color: #252525;
                font-size: 1.4em;
            }
            input {
                height: 100%;
                width: 45%;
                border: 1px solid white;
                background: coral;
                opacity: 0.9;
                color: #252525;
                font-size: 1.4em;
                padding: 0;
            }
            span {
                height: 100%;
                width: 20%;
                text-align: center;
                color: #252525;
                font-size: 1.6em;
            }
            .fullName {
                height: 100%;
                width: 45%;
                text-align: center;
            }
        }
    }
}


.eng {
    background-image: url('england.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.ind {
    background-image: url('india.svg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.aus {
    background-image: url('australia.svg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.sl {
    background-image: url('sl.svg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.wi {
    background-image: url('wi.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.pak {
    background-image: url('pak.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.rsa {
    background-image: url('rsa.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.nz {
    background-image: url('nz.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}


