* {
  box-sizing: border-box;
}

/* GENERAL STYLING */
body {
  color: papayawhip;
  font-family: 'Special Elite', cursive;
  background-color: grey;
  text-align: center;
  background-image: url("battleships.jpg");
  background-size: cover;
}

.start {
  text-align: center;
  margin-top: 200px;
  font-size: 50px;
  cursor: crosshair;
}

.start:hover {
  text-decoration: underline;
}


.maingame {
  margin: 0 auto;
  border: 1px solid white;
  height: 600px;
  width: 1200px;
  flex-direction: row wrap;
  justify-content: flex-start;
  align-items: center;
  display: none;
}

.leftside {
  width: 599px;
  height: 600px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-image: url('ocean-background.jpg');
  background-size: cover;
}

.rightside {
  width: 599px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
}

.divide {
  background-color: papayawhip;
  color: black;
  justify-content: flex-end;
  width:
}

.divide p {
  padding: 10px 2px 5px 2px;
}

/* BUTTONS AND TEXT BOX */
.textbox {
  height: 100px;
  width: 200px;
  border: 1px solid white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* THE GRIDS */
.map {
  height: 450px;
  width: 450px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 20px;
}

.radar {
  height: 350px;
  width: 350px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-bottom: 40px;
  background-image: url('radar.jpg');
  background-size: cover;
}

.grid-item {
    height: 44px;
    width: 44px;
    border: 1px solid black;
  }

.grid-item:hover {
  background-color: rgba(192, 192, 192, 0.4);
  cursor: crosshair;
}
  .radar-item {
    height: 35px;
    width: 35px;
    border: 1px solid black;
  }

  .radar-item:hover {
    background-color: rgba(199, 234, 70, 0.4);
    cursor: crosshair;
  }

  .direction {
    display: flex;
    justify-content: space-between;
  }

    .horizontal, .vertical {
      width: 150px;
      height: 30px;
      outline: none;
    }
  /* THE SHIPS */
  .ships {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 25px;
  }

  .ships:hover {
    cursor: pointer;
  }

  .carrier {
    background-color: blue;
    font-size: 15px;
    padding: 5px 5px 0 5px;
    border-radius: 5px;
  }

  .battleship {
    background-color: red;
    font-size: 15px;
    padding: 5px 5px 0 5px;
    border-radius: 5px;
  }

  .cruiser {
    background-color: green;
    font-size: 15px;
    padding: 5px 5px 0 5px;
    border-radius: 5px;
  }

  .submarine {
    background-color: purple;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px 5px 0 5px;
    border-radius: 5px;
  }

  .destroyer {
    background-color: grey;
    font-size: 15px;
    padding: 5px 5px 0 5px;
    border-radius: 5px;
  }

  .miss {
    background-image: url('miss.jpg');
    background-size: contain;
    border-radius: 6px;
  }


  .hit {
    background-image:url('bang.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 6px;
  }
  .sunk {
    background-color: rgba(0, 0, 0, 0.2);
  }

  /* .hit {
    background-color: ;
  } */
